html {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(247, 246, 248);
  font-weight: 300;
  font-family: "Arial", "sans-serif";
  color: rgb(22, 20, 20);
  font-size: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 30px auto auto 15%;
}

.container {
  display: grid;
  grid-template-columns: 5fr auto;
  grid-template-rows: 1fr auto 1fr 1fr;
  position: absolute;
  max-width: 60%;
  margin: 30px;
  border: 2px solid rgb(9, 18, 26);
  padding: 30px;
}

.header {
  margin-bottom: 40px;
  justify-self: center;
  grid-column: 1 / -1;
  font-size: 30px;
}

.content {
  margin: auto 10% auto 10%;
  grid-column: 1 / 2;
}

.game-info {
  grid-column: 2 / -1;
  border-left: 2px solid rgb(198, 203, 209);
  border-bottom: 2px solid rgb(198, 203, 209);
  border-right: 2px solid rgb(198, 203, 209);
}

.game-info h4 {
  text-align: center;
  border: 1px solid rgb(198, 203, 209);
}

.status {
  margin-top: 2%;
  grid-column: 1 / 2;
  justify-self: center;
}

.reset {
  margin-top: -10%;
  grid-column: 1 / 2;
  margin-left: 30%;
}

.create-game {
  margin: auto 10% auto 20%;
  padding-bottom: 10%;
}

.input-player-name {
  min-width: 100%;
}

.input-symbol {
  min-width: 100%;
}

.select-board-size {
  min-width: 100%;
}

.select-game-mode {
  min-width: 100%;
}

button {
  margin-top: 40px;
  width: 40%;
}

.board {
  background-color: cadetblue;
  display: grid;
  grid-gap: 3px;
  max-width: 100%;
}

.cell {
  border: 3px solid rgb(22, 20, 20);
  text-align: center;
  background-color: darkseagreen;
}
